
<div style="text-align: center;">
    <img src="/assets/mainLogo-1.gif" height="25%" width="25%">
    <h1>Door Access Management System</h1>
    <hr>
   
    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <img class="card-img" src="/assets/get-credential-logo.png" alt="">
                    <h1>Get your Credentials</h1>
                    <p class="card-text">Verify yourself and get your credentials</p>
                </div>
                <div class="card-body">
                    <a type="button" href="/details" class="card-btn">Verify Yourself</a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <img class="card-img" src="/assets/verify-credential-logo.png" alt="">
                    <h1>Get your Credentials</h1>
                    <p class="card-text">Verify your credentials to claim your benefits.</p>
                </div>
                <div class="card-body">
                    <a type="button" href="/verifier" class="card-btn">Verify Credential</a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <img class="card-img" src="/assets/room-access-key.png" alt="">
                    <h1>Verify your Credentials</h1>
                    <p class="card-text">Use your credentials to get access to your room.</p>
                </div>
                <div class="card-body">
                    <a type="button" href="#" class="card-btn">Get Room Access</a>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="grid">
        <div class="grid-item">
            <div class="card">
                <img class="card-img" src="/assets/get-credential-logo.png" alt="">
                <div class="card-content">
                    <h1 class="card-header">Get your Credentials</h1>
                    <p class="card-text">Verify yourself and get your credentials</p>
                    <a type="button" href="/issuer" class="card-btn">Verify Yourself</a>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="card">
                <img class="card-img" src="/assets/verify-credential-logo.png" alt="">
                <div class="card-content">
                    <h1 class="card-header">Verify your Credentials</h1>
                    <p class="card-text">Verify your credentials to claim your benefits</p>
                    <a type="button" href="/verifier" class="card-btn">Verify Credential</a>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="card">
                <img class="card-img" src="/assets/room-access-key.png" alt="">
                <div class="card-content">
                    <h1 class="card-header">Get your Room Access</h1>
                    <p class="card-text">Use your credentials to get access to your room.</p>
                    <a type="button" href="#" class="card-btn">Room Access</a>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <a type="button" id="idIssue" class="button" href="/issuer">Get Credential</a>
    <a type="button" id="idVerify" class="button" href="/verifier">Verify Credential</a> -->
</div>
